<div class="box">
  <div class="esquerda">
    <div class="tituloBox">
      <h2>
        Receber de <span class="nome">{{ informacoesSocio.nome }}</span>
      </h2>
    </div>
    <div class="valores linhaForm">
      <div class="col">
        <label class="titulo">Credito</label>
        <p class="valor credito">
          {{ informacoesSocio.credito | currency : "R$" }}
        </p>
      </div>
      <div class="col" *ngIf="semCompras === false">
        <label class="titulo">Valor Total</label>
        <p
          class="valor"
          [ngClass]="{
            saldoPositivo: valorTotal > 0,
            saldoNegativo: valorTotal < 0
          }"
        >
          {{ valorTotal | currency : "R$" }}
        </p>
      </div>
    </div>

    <div class="linhaForm receber">
      <div class="col">
        <label for="valorPago">Valor pago</label>
        <input
          min="{{ valorTotal }}"
          type="number"
          [(ngModel)]="valorPago"
          (focusout)="verificarValorPago()"
          id="valorPago"
          name="valorPago"
        />
      </div>
      <div class="col" *ngIf="semCompras === false">
        <label for="desconto">Desconto</label>
        <input
          disabled
          min="0"
          type="number"
          [(ngModel)]="desconto"
          (ngModelChange)="calcularValorTotal()"
          id="desconto"
          name="desconto"
        />
      </div>
    </div>
    <div class="linhaForm formaPagamento">
      <div class="col">
        <label for="data">Forma de pagamento</label>
        <div class="radioWrap">
          <label class="radio">
            <input
              required
              [(ngModel)]="formaPagamento"
              value="pix"
              type="radio"
              name="formaPagamento"
              id="pix"
            />
            Pix
          </label>
          <label class="radio">
            <input
              required
              [(ngModel)]="formaPagamento"
              value="cartão"
              type="radio"
              name="formaPagamento"
              id="cartao"
            />
            Cartão
          </label>
          <label class="radio">
            <input
              required
              [(ngModel)]="formaPagamento"
              value="dinheiro"
              type="radio"
              name="formaPagamento"
              id="dinheiro"
            />
            Dinheiro
          </label>
        </div>
      </div>
    </div>
    <div class="linhaForm">
      <div class="col data">
        <label for="data">Data de recebimento</label>
        <mat-form-field appearance="outline">
          <input
            title="Data de Compra"
            [formControl]="date"
            matInput
            [matDatepicker]="picker"
            (dateInput)="addEvent($event)"
          />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="direita" [ngClass]="{ semProdutos: listaProdutosAbertos.length == 0 }">
    <h2 *ngIf="listaProdutosAbertos.length == 0">Sem produtos para dar baixa</h2>
    <table *ngIf="listaProdutosAbertos.length > 0">
      <thead>
        <tr>
          <th>
            <span
              class="checkbox"
              (click)="toggleCheckboxes()"
              [ngClass]="{ ativo: verificaListaProdutos() === true }"
            ></span>
          </th>
          <th>Produtos a dar baixa</th>
          <th>Valor</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let produto of listaProdutosAbertos; let i = index"
          [ngClass]="{ ativo: produto.selecionado === true }"
          (click)="toggleProduto(produto, i)"
        >
          <td>
            <span [ngClass]="{ ativo: produto.selecionado === true }" class="checkbox"></span>
          </td>
          <td>
            <span
              [ngClass]="{
                tipoAcai: produto.tipo.nome === 'Açai',
                tipoDoce: produto.tipo.nome === 'Doce',
                tipoBebida: produto.tipo.nome === 'Bebida',
                tipoSalgado: produto.tipo.nome === 'Salgado'
              }"
              class="tag"
              >{{ produto.nome }}
            </span>
          </td>
          <td>
            {{ produto.valor | currency : "R$" }}
          </td>
          <td>
            {{ produto.data | date }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="base">
  <div class="botoes">
    <button class="botao cinza" (click)="this.dialogRef.close()">Cancelar</button>
    <button *ngIf="semCompras === false" (click)="salvar()" class="botao azul">Salvar</button>
    <button *ngIf="semCompras === true" (click)="salvar()" class="botao azul">
      Adicionar Crédito
    </button>
  </div>
</div>
