<div class="layout">
  <div class="nomeSocio">Fernando Dâmaso</div>
  <div class="produtos">
    <ul>
      <li>
        Açai 300ml
        <span>x</span>
      </li>
      <li>
        (2) Paçoca
        <span>x</span>
      </li>
    </ul>
  </div>
  <div class="valores">
    <p class="credito">Crédito <span>R$ 5,00</span></p>
    <p class="valorTotal">Valor Total <span>R$ 5,00</span></p>
  </div>
  <div class="botoes">
    <button>Pagar Agora</button>
    <button>Anotar</button>
  </div>
</div>
