<div class="topo">
  <h2>Adicionar Novo Sócio</h2>
</div>

<div class="corpo">
  <form action="">
    <div class="linha">
      <div class="col">
        <label for="">Nome</label>
        <input type="text" />
      </div>
      <div class="col">
        <label for="">Telefone</label>
        <input type="tel" />
      </div>
    </div>
    <div class="linha">
      <div class="col">
        <label for="">Núcleo</label>
        <input type="text" />
      </div>
    </div>
    <div class="linha">
      <div class="col">
        <label for="">Núcleo</label>
        <select name="" id="">
          <option value="">Escolher</option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="base">
  <div class="botoes">
    <button class="botao cinza">Cancelar</button>
    <button class="botao vermelho">Deletar</button>
    <button class="botao azul">Salvar</button>
  </div>
</div>
