<div class="topo">
  <h2>Adicionar Novo Sócio</h2>
</div>

<div class="corpo">
  <form action="">
    <div class="linha">
      <div class="col">
        <label for="Nome">Nome</label>
        <input [(ngModel)]="nome" id="Nome" name="Nome" title="Nome" type="text" />
      </div>
      <div class="col">
        <label for="Telefone">Telefone</label>
        <input [(ngModel)]="telefone" id="Telefone" name="Telefone" title="Telefone" type="tel" />
      </div>
    </div>
    <div class="linha">
      <div class="col">
        <label for="Grau">grau</label>
        <select name="grau" title="Grau" [(ngModel)]="grau">
          <option value="">Grau</option>
          <option value="VI">Visitante</option>
          <option value="QS">Quadro de Sócio</option>
          <option value="CI">Corpo Instrutivo</option>
          <option value="CDC">Corpo do Conselho</option>
          <option value="QM">Quadro de Mestre</option>
        </select>
      </div>
    </div>
    <div class="linha">
      <div class="col">
        <label for="nucleo">Núcleo</label>
        <input [(ngModel)]="nucleo" id="nucleo" name="nucleo" title="nucleo" type="tel" />
      </div>
    </div>
  </form>
</div>
<div class="base">
  <div class="botoes">
    <button class="botao cinza" (click)="this.dialogRef.close()">Cancelar</button>
    <button (click)="deletarSocio()" *ngIf="editar" class="botao vermelho">Deletar</button>
    <button (click)="postData()" class="botao azul">Salvar</button>
  </div>
</div>
