<div class="topo">
  <h2>Adicionar Novo Sócio</h2>
</div>

<div class="corpo">
  <div class="form">
    <div class="linha">
      <div class="col">
        <label for="Nome">Nome</label>
        <input [(ngModel)]="nome" id="Nome" name="Nome" title="Nome" type="text" />
      </div>
    </div>

    <div class="linha">
      <div class="col">
        <label for="Nome">Preço de Custo</label>
        <input [(ngModel)]="precoCusto" id="Preço de Custo" name="Preço de Custo" title="Preço de Custo" type="text" />
      </div>
      <div class="col">
        <label for="Nome">Preço de Venda</label>
        <input [(ngModel)]="precoVenda" id="Preço de Venda" name="Preço de Venda" title="Preço de Venda" type="text" />
      </div>
    </div>

    <div class="linha">
      <div class="col">
        <label for="Nome">Categoria do Produto</label>
        <select name="categoria" title="categoria" [(ngModel)]="categoriaProduto">
          <option value="">Categoria de Produto</option>
          <option value="Açai">Açai</option>
          <option value="Doce">Doce</option>
          <option value="Bebida">Bebida</option>
          <option value="Salgado">Salgado</option>
        </select>
      </div>
    </div>

    <div class="linha">
      <div class="col">
        <label>Status de produto</label>
        <mat-slide-toggle [(ngModel)]="status">
          <span *ngIf="status == true">Ativo</span>
          <span *ngIf="status == false">Inativo</span>
        </mat-slide-toggle>
      </div>
    </div>
  </div>
</div>
<div class="base">
  <div class="botoes">
    <button class="botao cinza" (click)="this.dialogRef.close()">Cancelar</button>
    <button (click)="deletarSocio()" *ngIf="editar" class="botao vermelho">Deletar</button>
    <button (click)="postData()" class="botao azul">Salvar</button>
  </div>
</div>
