<div class="topo">
  <h2>Adicionar Novo Produto</h2>
</div>

<div class="corpo">
  <form [formGroup]="formGroup" class="form">

    <div class="linha">
      <div class="col">
        <label for="Nome">Nome</label>
        <input id="Nome" name="Nome" title="Nome" type="text" formControlName="nome" />
      </div>
    </div>

    <div class="linha">
      <div class="col">
        <label for="Nome">Preço de Custo</label>
        <input id="Preço de Custo" name="Preço de Custo" title="Preço de Custo" type="number" formControlName="precoCusto" />
      </div>
      <div class="col">
        <label for="Nome">Preço de Venda</label>
        <input id="Preço de Venda" name="Preço de Venda" title="Preço de Venda" type="number" formControlName="precoVenda" />
      </div>
    </div>

    <div class="linha">
      <div class="col">
        <label for="Nome">Tipo do Produto</label>
        <select name="tipo" title="tipo" formControlName="tipoProduto">
          <option [ngValue]="99">Categoria de Produto</option>
          <option *ngFor="let tipo of dataTipo" [ngValue]="tipo.id">{{tipo.nome}}</option>
        </select>
      </div>
    </div>

    <div class="linha">
      <div class="col">
        <label>Status de produto</label>
        <mat-slide-toggle formControlName="ativo">
          <span *ngIf="ativo == true">Ativo</span>
          <span *ngIf="ativo == false">Inativo</span>
        </mat-slide-toggle>
      </div>
    </div>
  </form>
</div>
<div class="base">
  <div class="botoes">
    <button class="botao cinza" (click)="this.dialogRef.close()">Cancelar</button>
    <button (click)="deletarSocio()" *ngIf="editar" class="botao vermelho">Deletar</button>
    <button (click)="postData()" class="botao azul">Salvar</button>
  </div>
</div>
