<div class="topo">
  <h2>Adicionar Novo Sócio</h2>
</div>

<div class="corpo">
  <div class="form">
    <div class="linha">
      <div class="col">
        <label for="Nome">Nome</label>
        <input [(ngModel)]="nome" id="Nome" name="Nome" title="Nome" type="text" />
      </div>
    </div>

    <div class="linha">
      <div class="col">
        <label for="Nome">Preço de Custo</label>
        <input [(ngModel)]="precoCusto" id="Preço de Custo" name="Preço de Custo" title="Preço de Custo" type="number" />
      </div>
      <div class="col">
        <label for="Nome">Preço de Venda</label>
        <input [(ngModel)]="precoVenda" id="Preço de Venda" name="Preço de Venda" title="Preço de Venda" type="number" />
      </div>
    </div>

    <div class="linha">
      <div class="col">
        <label for="Nome">Tipo do Produto</label>
        <select name="tipo" title="tipo" [(ngModel)]="tipoProduto">
          <option [ngValue]="undefined">Categoria de Produto</option>
          <option *ngFor="let tipo of dataTipo" [ngValue]="tipo">{{tipo.nome}}</option>
        </select>
      </div>
    </div>

    <div class="linha">
      <div class="col">
        <label>Status de produto</label>
        <mat-slide-toggle [(ngModel)]="ativo">
          <span *ngIf="ativo == true">Ativo</span>
          <span *ngIf="ativo == false">Inativo</span>
        </mat-slide-toggle>
      </div>
    </div>
  </div>
</div>
<div class="base">
  <div class="botoes">
    <button class="botao cinza" (click)="this.dialogRef.close()">Cancelar</button>
    <button (click)="deletarSocio()" *ngIf="editar" class="botao vermelho">Deletar</button>
    <button (click)="postData()" class="botao azul">Salvar</button>
  </div>
</div>
