<div class="topo">
  <h2>Adicionar Novo Sócio</h2>
</div>

<div class="corpo">
  <form [formGroup]="formGroup">
    <div class="linha">
      <div class="col">
        <label for="Nome">Nome</label>
        <input id="Nome" name="Nome" title="Nome" type="text" formControlName="nome" />
      </div>
      <div class="col">
        <label for="Telefone">Telefone</label>
        <input id="Telefone" mask='(00) 00000-0000' name="Telefone" title="Telefone" type="tel" formControlName="telefone" />
      </div>
    </div>
    <div class="linha">
      <div class="col">
        <label for="Grau">grau</label>
        <select name="grau" title="Grau" formControlName="grau">
          <option value="">Grau</option>
          <option value="VI">Visitante</option>
          <option value="QS">Quadro de Sócio</option>
          <option value="CI">Corpo Instrutivo</option>
          <option value="CDC">Corpo do Conselho</option>
          <option value="QM">Quadro de Mestre</option>
        </select>
      </div>
    </div>
    <div class="linha">
      <div class="col">
        <label for="nucleo">Núcleo <button (click)="adicionarNovoNucleo()">Adicionar novo</button></label>
        <select name="nucleo" title="nucleo" formControlName="idNucleo">
          <option [ngValue]="undefined">Categoria de Produto</option>
          <option *ngFor="let nucleo of nucleos" [ngValue]="nucleo.id">{{nucleo.nome}}</option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="base">
  <div class="botoes">
    <button class="botao cinza" (click)="this.dialogRef.close()">Cancelar</button>
    <button (click)="deletarSocio()" *ngIf="editar" class="botao vermelho">Deletar</button>
    <button (click)="postData()" class="botao azul">Salvar</button>
  </div>
</div>
