:host {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 24px #22292f12;
}

.layout {
  display: flex;
  padding: 20px 20px;
  align-items: center;
  justify-content: space-around;
  justify-content: flex-start;

  @media (max-width: 850px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .coluna {
    flex-basis: 20%;

    .titulo {
      margin-bottom: 5px;

    }

    &.nomeSocio {
      flex-basis: 15%;

      @media (max-width: 850px) {
        display: none;
      }

      .titulo {
        font-size: 17px;
        font-weight: 500;
        color: #3498DB;
      }

      .nome {}

      .campoVazio {}
    }

    &.produtos {
      flex-basis: 30%;
      padding-left: 20px;

      @media (max-width: 850px) {
        flex-basis: 100%;
        padding-left: 0;
        margin-bottom: 10px;
      }

      .titulo {
        font-size: 17px;
        font-weight: 500;
        color: #3498DB;
      }

      ul {
        li {
          display: inline-block;
          margin-right: 5px;
          margin-bottom: 5px;

          &:last-child {
            margin-right: 0;
          }

          .tag {}
        }
      }

      .campoVazio {}
    }

    &.data {
      flex-basis: 11%;
      padding-left: 20px;

      @media (max-width: 850px) {
        flex-basis: 100%;
        padding-left: 0;
        width: 100%;
      }

      label {
        display: block;
        margin-bottom: 5px;
      }



      #data {
        height: 30px;
        transition: all ease-in-out 0.15s;
        outline: none;
        cursor: pointer;

        &::-webkit-datetime-edit-day-field:focus,
        &::-webkit-datetime-edit-month-field:focus,
        &::-webkit-datetime-edit-year-field:focus {
          background-color: #3498db;
          color: white;
          outline: none;
        }

        &:focus {
          color: #3498db;
          border: 1px solid #3498db;
        }

      }
    }

    &.valores {
      display: flex;
      flex-basis: 16%;

      @media (max-width: 850px) {
        flex-basis: 100%;
        width: 100%;
      }

      .col {
        flex: 1;
        text-align: right;

        @media (max-width: 850px) {
          text-align: left;
          max-width: 110px;
          margin-top: 10px;
        }

        .titulo {}

        .valor {
          font-weight: 600;
          font-size: 20px;


          .debito {

            &.saldoNegativo {
              color: #cc2424;
            }

            &.saldoPositivo {
              color: #3498DB;
            }

          }

          &.verde {
            color: #27AE60;
          }
        }
      }


    }

    &.botoes {
      display: flex;
      flex-basis: 24%;
      padding-left: 30px;

      @media (max-width: 850px) {
        flex-basis: 100%;
        padding-left: 0;
        width: 100%;
      }

      button {
        flex: 1;
        margin: 0 3px;
        height: 42px;
      }
    }
  }

}
