<div class="tituloBox">
  <h2 (click)="openModal()">Lista de Produtos:</h2>
  <a routerLink="/produtos">Editar</a>
  <p class="produtoSelecionado" (click)="openModal()" *ngIf="windowSize === 'mobile'">
    Selecionar Produtos
  </p>
</div>

<div class="modal-mobile" [ngClass]="{ active: modalOpened }">
  <div class="tabelaWrap" [ngClass]="{ mobile: windowSize === 'mobile' }">
    <div class="filtros">
      <input [(ngModel)]="filterProdutos" type="text" placeholder="Busca por nome" />
      <select name="tipo" title="Filtro por Tipo" [(ngModel)]="filterTipo">
        <option value="">Filtro por Tipo</option>
        <option value="{{ produto }}" *ngFor="let produto of listaTipos">
          {{ produto }}
        </option>
      </select>
    </div>
    <div class="tableScroll">
      <table class="produtos">
        <tr>
          <th>TIPO</th>
          <th>NOME</th>
          <th class="alignRight">PREÇO</th>
        </tr>
        <tr
          *ngFor="
            let produto of filterProdutosAtivos()
              | buscaPalavras : filterProdutos
              | buscaTipo : filterTipo
              | ordernarProdutos;
            let i = index
          "
          [class.inativo]="produto.ativo == false"
          [ngClass]="{
            active: calcularQuantidade(produto) > 0
          }"
        >
          <td (click)="adicionarProduto(produto)">
            <span
              [ngClass]="{
                tipoAcai: produto.tipo.nome === 'Açai',
                tipoDoce: produto.tipo.nome === 'Doce',
                tipoBebida: produto.tipo.nome === 'Bebida',
                tipoSalgado: produto.tipo.nome === 'Salgado'
              }"
              class="tag"
              >{{ produto.tipo.nome }}</span
            >
          </td>
          <td (click)="adicionarProduto(produto)">
            <span class="nome">{{ produto.nome }}</span>
          </td>
          <td class="center acoesTd">
            <span
              class="acoes"
              *ngIf="calcularQuantidade(produto) > 0"
              [ngClass]="{
                temProduto: calcularQuantidade(produto) > 0
              }"
            >
              <button (click)="removerProduto(produto)" class="removerProduto">-</button>
              <button class="qtdProduto">{{ calcularQuantidade(produto) }}</button>
              <button (click)="adicionarProduto(produto)" class="AdicionarProduto">+</button>
            </span>
          </td>
          <td class="alignRight" (click)="adicionarProduto(produto)">
            <span class="debito">{{ produto.precoVenda | currency : "R$" }}</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="coluna botoes">
    <button class="botao azul" (click)="closeModal()">Concluir</button>
  </div>
</div>

<div class="overlay" (click)="closeModal()" [ngClass]="{ active: modalOpened }"></div>
