<div class="topo">
  <h2>Adicionar Novo Núcleo</h2>
</div>

<div class="corpo">
  <div class="form">
    <div class="linha">
      <div class="col">
        <label for="Nome">Nome</label>
        <input [(ngModel)]="nome" id="Nome" name="Nome" title="Nome" type="text" />
      </div>
    </div>
  </div>
</div>
<div class="base">
  <div class="botoes">
    <button class="botao cinza" (click)="this.dialogRef.close()">Cancelar</button>
    <button (click)="postData()" class="botao azul">Salvar</button>
  </div>
</div>
