<header>
  <div class="layout">
    <h2>Cantina <span class="usuario">Fernando Dâmaso</span></h2>
    <nav>
      <ul>
        <li><a routerLinkActive="active" routerLink="/vender">Vender</a></li>
        <li><a routerLinkActive="active" routerLink="/receber">Receber</a></li>
        <li><a routerLinkActive="active" routerLink="/produtos">Produtos</a></li>
        <li><a routerLinkActive="active" routerLink="/historico">Histórico</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="layout">
  <router-outlet></router-outlet>
</div>
