<div class="box">
  <app-lista-socios
    [vendasAbertas]="vendasAbertas"
    [dataSocios]="dataSocios"
    (socioSelecionadoOutput)="atualizaSocio($event)"
  ></app-lista-socios>
</div>
<div class="box">
  <app-lista-produtos
    [dataProdutos]="dataProdutos"
    [listaTipos]="listaTipos"
    [listaProdutosAgrupadaInput]="listaProdutosAgrupada"
    (adicionaProdutoOutput)="adicionarProduto($event)"
    (removeProdutOutput)="removerProduto($event)"
  ></app-lista-produtos>
</div>

<app-barra-venda
  [dataVendas]="dataVendas"
  [valorTotal]="valorTotal"
  (terminouCompra)="terminouCompra($event)"
  [listaProdutosSelecionados]="listaProdutosSelecionados"
  [produtosAgrupados]="listaProdutosAgrupada"
  [socioSelecionado]="socioSelecionado"
></app-barra-venda>
