<div class="box">
  <div class="tituloBox">
    <h2>Lista de Sócios</h2>
    <a>Editar</a>
  </div>
  <div class="filtros">
    <input type="text" placeholder="Busca por nome" [(ngModel)]="filterSocios" />
    <select name="grau" title="Filtro por Grau" [(ngModel)]="filterGrau">
      <option value="">Filtro por Grau</option>
      <option value="VI">Visitante</option>
      <option value="QS">Quadro de Sócio</option>
      <option value="CI">Corpo Instrutivo</option>
      <option value="CDC">Corpo do Conselho</option>
      <option value="QM">Quadro de Mestre</option>
    </select>
  </div>
  <div class="tableScroll">
    <table class="socios">
      <thead>
        <tr>
          <th>GRAU</th>
          <th>NOME</th>
          <th class="alignRight">DÉBITO</th>
        </tr>
      </thead>

      <tbody>
        <tr [class.active]="socioSelecionadoIndex === i" (click)="pegarSocio(socio, i)" *ngFor="let socio of dataSocios | buscaPalavras : filterSocios | buscaGrau : filterGrau ; let i = index">
          <td>
            <span
              [ngClass]="{
                grauQM: socio.grau[0].nome === 'QM',
                grauCDC: socio.grau[0].nome === 'CDC',
                grauCI: socio.grau[0].nome === 'CI',
                grauQS: socio.grau[0].nome === 'QS',
                grauVI: socio.grau[0].nome === 'VI'
              }"
              class="tag">
              {{ socio.grau[0].nome }}
            </span>
          </td>
          <td>
            <span class="nome">{{ socio.nome }}</span>
          </td>
          <td class="alignRight">
            <span
              class="debito"
              [ngClass]="{
                saldoPositivo: (socio | calculoDebito ) > 0,
                saldoNegativo: (socio | calculoDebito ) < 0
              }"

              >{{ socio | calculoDebito | currency : "R$" }}</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="box">
  <div class="tituloBox">
    <h2>Lista de Produtos</h2>
    <a>Editar</a>
  </div>
  <div class="filtros">
    <input [(ngModel)]="filterProdutos" type="text" placeholder="Busca por nome" />
    <select name="tipo" title="Filtro por Tipo" [(ngModel)]="filterTipo">
      <option value="">Filtro por Tipo</option>
      <option value="{{ produto.tipo }}" *ngFor="let produto of dataProdutos">{{ produto.tipo }}</option>
    </select>
  </div>
  <div class="tableScroll">
    <table class="produtos">
      <tr>
        <th>TIPO</th>
        <th>NOME</th>
        <th class="alignRight">PREÇO</th>
      </tr>
      <tr *ngFor="let produto of dataProdutos | buscaPalavras : filterProdutos | buscaTipo : filterTipo; let i = index" [class.inativo]="produto.status == false">
        <td>
          <span
            [ngClass]="{
              tipoAcai: produto.tipo === 'Açai',
              tipoDoce: produto.tipo === 'Doce',
              tipoBebida: produto.tipo === 'Bebida',
              tipoSalgado: produto.tipo === 'Salgado'
            }"
            class="tag"
            >{{ produto.tipo }}</span>
        </td>
        <td>
          <span class="nome">{{ produto.nome }}</span>
        </td>
        <td class="center">
          <span class="acoes" >
            <button (click)="removerProduto(produto)" class="removerProduto">-</button>
            <button class="qtdProduto">0</button>
            <button (click)="adicionarProduto(produto)" class="AdicionarProduto">+</button>
          </span>
        </td>
        <td class="alignRight">
          <span class="debito">{{ produto.precoVenda | currency : "R$" }}</span>
        </td>
      </tr>
    </table>
  </div>
</div>

<app-barra-venda (terminouCompra)="terminouCompra($event)" [produtoRemovido]="produtoRemovido" [produtoSelecionado]="produtoSelecionado" [socioSelecionado]="socioSelecionado"></app-barra-venda>
