:host {
  display: flex;

  @media (max-width: 850px) {
    flex-direction: column;
  }

  .box {
    flex: 1;
    margin: 0 10px;

    @media (max-width: 850px) {
      margin: 0;
      margin-bottom: 20px;
    }
  }

  .tituloBox {}

  .filtros {
    margin-bottom: 24px;
  }
}

.tableScroll {
  height: calc(80vh - 195px);
  overflow-y: auto;

  @media (max-width: 850px) {
    height: initial;
  }

  table {

    &.socios {
      tr {
        cursor: pointer;

        &.active {
          background-color: #3498DB;
          color: #fff !important;

          .debito,
          .nome {
            color: #fff !important;
          }
        }

        td,
        th {
          &:nth-child(1) {
            flex-basis: 10%;

          }

          &:nth-child(2) {
            flex-basis: 70%;

          }

          span {
            transition: color ease-in-out 0.1s;

            &.saldoPositivo {
              color: #3498DB;

            }

            &.saldoNegativo {
              color: #d12323;
            }
          }

        }
      }
    }

    &.produtos {
      tr {
        &.inativo {
          display: none;
        }

        td,
        th {
          &:nth-child(1) {
              cursor: pointer;
            flex-basis: 13%;
            min-width: 60px;
          }

          &:nth-child(2) {
              cursor: pointer;
            flex-basis: 68%;
          }

        }
      }
    }

    tr {
      display: flex;

      td,
      th {
        display: flex;
        align-items: center;

        &:nth-child(3) {
          flex-basis: 20%;
          justify-content: flex-end;
        }
      }
    }
  }
}
