:host {
  display: flex;

  .box {
    flex: 1;
    margin: 0 10px;
  }

  .tituloBox {}

  .filtros {
    margin-bottom: 24px;
  }
}

.tableScroll {
  height: calc(80vh - 195px);
  overflow-y: auto;

  table {

    &.socios {
      tr {

        &.active {
          background-color: #3498DB;
          color: #fff!important;
          .debito, .nome {
            color: #fff!important;
          }
        }
        td,
        th {
          &:nth-child(1) {
            flex-basis: 10%;

          }

          &:nth-child(2) {
            flex-basis: 70%;

          }

          span {
            transition: color ease-in-out 0.1s;
            &.saldoPositivo {
              color: #3498DB;

            }

            &.saldoNegativo {
              // color: #ff4c4c;
            }
          }

        }
      }
    }

    &.produtos {
      tr {
        &.inativo {
          display: none;
        }

        td,
        th {
          &:nth-child(1) {
            flex-basis: 13%;

          }

          &:nth-child(2) {
            flex-basis: 68%;

          }


        }
      }
    }

    tr {
      display: flex;

      td,
      th {
        display: flex;
        align-items: center;

        &:nth-child(3) {
          flex-basis: 20%;
          justify-content: flex-end;
        }
      }
    }
  }
}
