<div class="box">
  <div class="tituloBox">
    <h2>Lista de Sócios</h2>
  </div>

  <div class="filtrosWrap">
    <div class="filtros">
      <input type="text" placeholder="Busca por nome" [(ngModel)]="filterSocios" />
      <select name="grau" title="Filtro por Grau" [(ngModel)]="filterGrau">
        <option value="">Filtro por Grau</option>
        <option value="VI">Visitante</option>
        <option value="QS">Quadro de Sócio</option>
        <option value="CI">Corpo Instrutivo</option>
        <option value="CDC">Corpo do Conselho</option>
        <option value="QM">Quadro de Mestre</option>
      </select>
      <!-- <select name="grau" title="Filtro por debito">
        <option value="#">Sócios com valor em aberto</option>
        <option value="#">Todos os sócios</option>
      </select> -->
    </div>
    <div class="botoes">
      <button class="botao azul" (click)="adicionarNovoSocio()">Adicionar novo Sócio</button>
    </div>
  </div>

  <div class="receberWrap">
    <table class="socios">
      <thead>
        <tr>
          <th>GRAU</th>
          <th>NOME</th>
          <th>TELEFONE</th>
          <th>NUCLEO</th>
          <th class="alignRight">SALDO ATUAL</th>
          <th class="alignRight">AÇÕES</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let socio of dataSocios | buscaPalavras : filterSocios | buscaGrau : filterGrau"
        >
          <td (click)="abrirPagar(socio)">
            <span
              [ngClass]="{
                grauQM: socio.grau === 'QM',
                grauCDC: socio.grau === 'CDC',
                grauCI: socio.grau === 'CI',
                grauQS: socio.grau === 'QS',
                grauVI: socio.grau === 'VI'
              }"
              class="tag"
            >
              {{ socio.grau }}
            </span>
          </td>
          <td (click)="abrirPagar(socio)">
            <span class="nome">{{ socio.nome }}</span>
          </td>
          <td (click)="abrirPagar(socio)">{{ socio.telefone }}</td>
          <td (click)="abrirPagar(socio)">{{ socio?.nucleo?.nome }}</td>
          <td (click)="abrirPagar(socio)" class="alignRight saldo">
            <span
              class="debito"
              [ngClass]="{
                saldoPositivo: (socio | calculoDebito : vendasAbertas) > 0,
                saldoNegativo: (socio | calculoDebito : vendasAbertas) < 0
              }"
              >{{ socio | calculoDebito : vendasAbertas | currency : "R$" }}</span
            >
          </td>
          <td class="center">
            <button title="Ações" mat-button [matMenuTriggerFor]="menu">
              <img src="..\assets\acoes.png" alt="" />
            </button>
            <mat-menu #menu="matMenu">
              <button (click)="editarSocio(socio)" mat-menu-item>Editar</button>
              <button (click)="deletarSocio(socio.id)" mat-menu-item>Deletar</button>
              <button (click)="abrirRecibo(socio)" mat-menu-item>Ver Recibo</button>
              <!-- <button mat-menu-item>Mandar Cobrança</button> -->
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
