<div class="tituloBox">
  <h2 (click)="openModal()">{{ getTitle() }}</h2>
  <a routerLink="/receber">Editar</a>
  <p class="socioSelecionado" (click)="openModal()" *ngIf="windowSize === 'mobile'">
    <ng-container *ngIf="socioSelecionado; else noSocio">
      {{ socioSelecionado.nome }}
    </ng-container>
    <ng-template #noSocio>Selecione um sócio</ng-template>
  </p>
</div>

<div class="modal-mobile" [ngClass]="{ active: modalOpened }">
  <div class="tabelaWrap" [ngClass]="{ mobile: windowSize === 'mobile' }">
    <app-filter
      [listaNucleos]="listaNucleos"
      [filterLocation]="'socios'"
      (filterNomeOutput)="buscaFilterNome($event)"
      (filterGrauOutput)="buscaFiltroGrau($event)"
      (filterNucleoOutput)="buscaFilterNucleo($event)"></app-filter>

    <div class="tableScroll">
      <table class="socios">
        <thead>
          <tr>
            <th>GRAU</th>
            <th>NOME</th>
            <th *ngIf="windowSize === 'desktop'">Núcleo</th>
            <th class="alignRight">DÉBITO</th>
          </tr>
        </thead>

        <tbody>
          <tr
            [class.active]="socioSelecionadoIndex === i"
            (click)="getSocio(socio, i)"
            *ngFor="
              let socio of dataSocios | buscaPalavras : filterNome | buscaGrau : filterGrau | buscaNucleo : filterNucleo | ordenarSocios;
              let i = index
            ">
            <td>
              <span
                [ngClass]="{
                  grauQM: socio.grau === 'QM',
                  grauCDC: socio.grau === 'CDC',
                  grauCI: socio.grau === 'CI',
                  grauQS: socio.grau === 'QS',
                  grauVI: socio.grau === 'VI'
                }"
                class="tag">
                {{ socio.grau }}
              </span>
            </td>
            <td>
              <span class="nome">{{ socio.nome }}</span>
            </td>
            <td *ngIf="windowSize === 'desktop'">
              <span class="nucleo">{{ socio.nucleo.nome }}</span>
            </td>
            <td class="alignRight">
              <span
                class="debito"
                [ngClass]="{
                  saldoPositivo: (socio | calculoDebito : vendasAbertas) > 0,
                  saldoNegativo: (socio | calculoDebito : vendasAbertas) < 0
                }">
                {{ socio | calculoDebito : vendasAbertas | currency : 'R$' }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="overlay" (click)="closeModal()" [ngClass]="{ active: modalOpened }"></div>
