<div class="content">
  <header>
    <img src="../../../assets/cafeteria.png" alt="" />
    <h2>Consumo na <span>Cantina Gaspar</span></h2>
  </header>
  <div class="boxBranco">
    <div class="texto">
      <p>Olá <span class="nome">Fernando Dâmaso 😁</span></p>
      <p>
        Encaminho a planilha detalhada com seu consumo na cantina do N. Gaspar.
      </p>
    </div>
    <div class="tabelaWrap">
      <table>
        <thead>
          <tr>
            <th>Compras Feitas</th>
            <th>Valor</th>
            <th>Data de compra</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let produto of this.informacoesSocio.produtosEmAberto;
              let i = index
            "
          >
            <td>
              <span
                [ngClass]="{
                  tipoAcai: produto.tipo === 'Açai',
                  tipoDoce: produto.tipo === 'Doce',
                  tipoBebida: produto.tipo === 'Bebida',
                  tipoSalgado: produto.tipo === 'Salgado'
                }"
                class="tag"
                >{{ produto.tipo }}</span
              >
            </td>
            <td>{{ produto.precoVenda | currency : "R$" }}</td>
            <td>{{ produto.dataCompra | date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="valorTotal">
      <p class="cinza">Valor Total</p>
      <p class="verde">{{ valorTotal | currency : "R$" }}</p>
    </div>
  </div>
</div>
