<div class="filtros">
  <input
    type="text"
    placeholder="Busca por nome"
    [(ngModel)]="buscaNome"
    (ngModelChange)="filterChange($event, 'nome')"
  />

  <select
    *ngIf="filterLocation == 'socios'"
    (ngModelChange)="filterChange($event, 'grau')"
    name="grau"
    title="Filtro por Grau"
    [(ngModel)]="filterGrau"
  >
    <option value="">Filtro por Grau</option>
    <option value="QS">Quadro de Sócio</option>
    <option value="CI">Corpo Instrutivo</option>
    <option value="CDC">Corpo do Conselho</option>
    <option value="QM">Quadro de Mestre</option>
    <option value="VI">Visitante</option>
  </select>

  <select
    *ngIf="filterLocation == 'socios'"
    (ngModelChange)="filterChange($event, 'nucleos')"
    name="nucleo"
    title="Filtro por Nucleo"
    [(ngModel)]="filterNucleo"
  >
    <option value="">Filtro por Nucleo</option>
    <option [ngValue]="nucleo" *ngFor="let nucleo of listaNucleos">
      {{ nucleo }}
    </option>
  </select>

  <select
    *ngIf="filterLocation == 'produtos'"
    (ngModelChange)="filterChange($event, 'tipo')"
    name="tipo"
    title="Filtro por Tipo"
    [(ngModel)]="filterTipo"
  >
    <option value="">Filtro por Tipo</option>
    <option value="{{ produto }}" *ngFor="let produto of listaTipos">
      {{ produto }}
    </option>
  </select>
</div>
