// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-cantina-primary: mat.define-palette(mat.$indigo-palette);
$ng-cantina-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-cantina-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng-cantina-theme: mat.define-light-theme((color: (primary: $ng-cantina-primary,
        accent: $ng-cantina-accent,
        warn: $ng-cantina-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ng-cantina-theme);

@import "assets/normalize.css";

* {
  font-family: Montserrat
    /* Replace with your custom font */
    , sans-serif !important;
}

$azul: #3498db;
$corTexto: #5e5873;

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: $corTexto;
  font-size: 14px;
  font-weight: 400;
}

body {
  background-color: #f4f5f7;
}

ul {
  padding: 0;
  margin: 0;
}

input {
  outline: none;
}

p,
li,
a {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: $corTexto;
  font-weight: 400;
  margin: 0;
  text-decoration: none;
}

h2,
h1 {
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  color: $corTexto;
  font-weight: initial;
  font-weight: 500;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.layout {
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;
}

input,
select {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #d5d9e1;
  color: $corTexto;
  height: 37px;
  border-radius: 5px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;

  &[type="text"] {}
}

a {
  color: $azul;
  cursor: pointer;
}

.box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 24px #22292f12;
  overflow: hidden;

  .filtros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    input,
    select {
      flex: 1;
      margin: 0 7px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .tituloBox {
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    h2 {}

    a {}
  }
}

.alignRight {
  text-align: right;
}

.tableScroll {
  // overflow-y: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;

  tr {
    th {
      padding: 12px 0;
      background: #f4f5f7;
      font-size: 12px;
      font-family: "Montserrat", sans-serif;
      color: $corTexto;
      font-weight: 600;
      text-align: left;
      padding: 12px 20px;
    }

    &:nth-child(odd) {
      background-color: #f8f9fa;
    }

    td {
      cursor: pointer;
      padding: 7px 20px;
      font-family: "Montserrat", sans-serif;
      color: $corTexto;
      transition: all ease-in-out 0.1s;
    }

    &:hover {
      td {
        background-color: $azul;
        color: #fff !important;
        .debito {
          color: #fff !important;
        }
      }
    }
  }
}

.tag {
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }

  .fechar {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-left: 10px;
    line-height: 12px;
    cursor: pointer;
    transition: background ease-in-out 0.15s;
  }

  &.tipoAcai {
    background-color: #e1defe;
    color: #776bf1;

    &:hover {
      .fechar {
        color: #e1defe;
        background-color: #776bf1;
      }
    }

    .fechar {
      border: 1px solid #776bf1;
    }
  }

  &.tipoDoce {
    background-color: #efe5d7;
    color: #806551;

    &:hover {
      .fechar {
        color: #efe5d7;
        background-color: #806551;
      }
    }

    .fechar {
      border: 1px solid #806551;
    }
  }

  &.tipoBebida {
    background-color: #ddeef9;
    color: #3498db;

    &:hover {
      .fechar {
        color: #ddeef9;
        background-color: #3498db;
      }
    }

    .fechar {
      border: 1px solid #3498db;


    }
  }

  &.tipoSalgado {
    background-color: #ffeddb;
    color: #ff9f43;

    &:hover {
      .fechar {
        color: #ffeddb;
        background-color: #ff9f43;
      }
    }

    .fechar {
      border: 1px solid #ff9f43;


    }
  }

  &.grauQM {
    background-color: #e5f8ed;
    color: #3abf75;

    &:hover {
      .fechar {
        color: #e5f8ed;
        background-color: #3abf75;
      }
    }

    .fechar {
      border: 1px solid #776bf1;


    }
  }

  &.grauCDC {
    background-color: #ddeef9;
    color: #3498db;

    &:hover {
      .fechar {
        color: #ddeef9;
        background-color: #3498db;
      }
    }

    .fechar {
      border: 1px solid #776bf1;


    }
  }

  &.grauCI {
    background-color: #ffeddb;
    color: #ff9f43;

    &:hover {
      .fechar {
        color: #ffeddb;
        background-color: #ff9f43;
      }
    }

    .fechar {
      border: 1px solid #776bf1;


    }
  }

  &.grauQS {
    background-color: #f4eafd;
    color: #996fc2;

    &:hover {
      .fechar {
        color: #f4eafd;
        background-color: #996fc2;
      }
    }

    .fechar {
      border: 1px solid #776bf1;


    }
  }

  &.grauVI {
    background-color: #eef2f6;
    color: #5e5873;

    &:hover {
      .fechar {
        color: #eef2f6;
        background-color: #5e5873;
      }
    }

    .fechar {
      border: 1px solid #776bf1;


    }
  }
}



html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-infix {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  border: 0 !important;
}

.mat-form-field-flex {

  padding-top: 4px !important;
  background-color: #fff !important;
  // border: 1px solid #d5d9e1;
  color: #5e5873;
  border-radius: 5px;
}

.mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0 !important;
}

.mat-form-field {
  padding-top: 0;

  input {}

  mat-datepicker-toggle {
    position: absolute;
    top: -2px;
    right: -10px;
  }

  mat-datepicker {}
}

.mat-icon-button {
  width: 30px;
  height: 30px;
}

.mat-ripple,
.mat-button-focus-overlay {
  display: none !important;
}

.mat-body,
.mat-body-1,
.mat-typography .mat-body,
.mat-typography .mat-body-1,
.mat-typography {
  font-family: "Montserrat", sans-serif !important;
  color: #5e5873 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.alignRight {
  justify-content: flex-end;
  text-align: right !important;
}

.mat-h2,
.mat-title,
.mat-typography .mat-h2,
.mat-typography .mat-title,
.mat-typography h2 {
  margin: 0;
}

form,
.form {

  .linha,
  .row {
    display: flex;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .col {
      padding: 0 5px;

      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}


.NovoSocioComponent,
.NovoProdutoComponent {
  width: 100%;
  max-width: 515px !important;
}

.PagarComponent {
  width: 100%;
  max-width: 850px !important;
}


.botoes {

  .botao,
  .btn {
    font-size: 14px;
    font-weight: 400;
    padding: 13px 15px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin: 0 10px;
    transition: all ease-in-out 0.25s;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.vermelho {
      background-color: #E74C3C;
      color: #fff;

      &:hover {
        background-color: darken(#E74C3C, 15%);
      }
    }

    &.cinza {
      background-color: #E7E6EC;
      color: #828C93;

      &:hover {
        background-color: darken(#E7E6EC, 7%);
      }
    }

    &.solid,
    &.azul {
      background-color: #3498DB;
      color: #fff;


      &:hover {
        background-color: darken(#3498DB, 10%);
      }
    }

    &.border,
    &.borda {
      background-color: #fff;
      border: 2px solid #3498DB;
      color: #3498DB;

      &:hover {
        background-color: #3498DB;
        color: #fff;
      }
    }
  }
}


.mat-dialog-container {
  padding: 0 !important;

  .topo {
    padding: 15px;
    padding-bottom: 0;
  }

  .corpo {
    padding: 15px;
  }

  .base {
    margin-top: 15px;

    .botoes {
      border-top: #E0DFE5 solid 1px;
      padding: 15px;
      display: flex;

      .botao {
        flex: 1;
      }
    }
  }
}

.mat-menu-content {
  padding: 0 !important;

  button {
    line-height: 38px !important;
    height: 38px !important;
  }
}



.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #3498DB;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #1a6699;
}
